




#titel{
  text-align: center;
  font-size: 80px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#daten{
  height: 100px;
  #margin-left: 800px;
#  width: 100px;
  background-color: grey;
  border-radius: 5px;
}

#Luftdruckanzeige{
  margin-top: 5px;
}
#WB {


}



#tag{
  border-radius: 5px;
  border-width: 5px;
  background-color: white;
  height: 780px;
  width: 480px;

}


.framewetter{
  margin-top: 50px;
  margin-left: 60px;
  height: 700px;
  width: 500px;
  background-color: #F2F2F2;
	border: 1px solid #DEDCD9;
	border-radius: 50px;

}


#index {
background-color: #ceccca;


}


#maintext {
  text-align: center;


}

a {
  text-align: center;
  font-size: 30px;

}
